@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

html,
body{
	height: 100%;
	margin: 0;
	background: #2ecc71;
}

.container{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	animation-name: fade;
	animation-duration: 1.5s;
}

.sub-container{
	width: 500px;
	padding: 50px;
	text-align: center;
	background: #27ae60;
}
.quote-text {
  font-size: 1.5em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #FAFAFA;
}

.quote-text::before,
.quote-text::after {
  content: ' " ';
}

.quote-author,
.quote-button{
	margin: 10px 0px 10px 0px;
}

.quote-author{
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	color: #FAFAFA;
	text-align: center;
}

.quote-author::before {
  content: "- ";
}

.quote-button{
	padding: 10px 50px;
	cursor: pointer;
	border: none;
	background: #FAFAFA;
	font-size: 1.2em;
	font-weight: bold;
	color: #27ae60;
}

.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
}

@keyframes fade{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@media (min-width: 320px) and (max-width: 480px) {

  .sub-container{
  	width: 100%;
  	background: none;
  }

  .quote-author::before {
  	content: none;
  }

  .card {
  	box-shadow: none;
  }
  
}